@import url('./reset.css');

/* about */
#about {
    width: 1200px; height: 535px;
    margin: 0 auto;
}
#about > .about_left {
    position: relative;
    width: 600px; height: 100%;
    float: left;
    left: 100px;
    top: 60px;
}
#about > .about_left .box {
    position: absolute;
    width: 360px;
    height: 400px;
    background: #000;
    left: -30px;
}
#about > .about_left img {
    position: relative;
    top: 30px;
}

.section_header {
    font-size: 20px;
    width: 600px;
    float: right;
    margin-top: 60px;
    color: #f57d21;
}
#about > .about_right {
    width: 1200px;
}
#about > .about_right > .section_header > h1 {
    position: relative;
    right: 40px;
}
#about > .about_right > .section_header > span {
    position: relative;
    right: 40px;
}
#about > .about_right .text {
    position: relative;
    left: -40px;
    top: 70px;
    margin-top: 20px;
}
#about > .about_right .text-1 {
    position: relative;
    left: -40px;
    top: 80px;
    margin-top: 20px;
    font-size: 13px;
}
#about > .about_right a {
    position: relative;
    top: 90px; left: 450px;
    color: #000;
}
#about > .about_right a:hover {
    color: #f57d21;
}
#info {
    width: 1200px;
    margin: 0 auto;
}
#info > .left {
    width: 50%;
    /* background: #ccc; */
    float: left;
}
#info > .left > ul > li {
    padding: 10px;
    margin-left: 100px;
}
#info > .left > ul > li span {
    font-weight: bold;
}
#info > .right {
    width: 50%;
    height: 205px;
    /* background: #999; */
    float: right;
    overflow: hidden;
}
#info > .right > a img {
    width: 30px;
    padding: 5px;
    /* border: 2px solid #000; */
    border-radius: 8px;
    position: relative;
    top: 70%;
    left: 75%;
    margin-left: 10px;
    transition: 0.2s;
}
#info > .right > a:hover img {
    transform: scale(1.2);
}